<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/meta.html') %>
    <title>Document</title>
</head>

<body>
    <%- include('partials/navbar.html') %>
    <div class="container-sm m-auto">
        <div class="container-fluid">
            <div class="form-group mt-2">
                <h3>Contactanos</h3>
                <input class="form-control" placeholder="example@gmail.com" type="text">
                <textarea class="form-control mt-2" name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
                <button type="button" class="btn btn-dark form-control mt-2">Send</button>
            </div>
        </div>
    </div>
</body>

</html>